

.App {
  font-family: 'Catamaran', sans-serif;
  color: #362c24;
}

p {
  color: #362c24;
}

.dropdown-item:active {
  background-color: #e9e5dc6b !important;
}

a:link {
  color: #362c24;
  text-decoration: none;
}

.link {
  color: #362c24;
}

a:link:hover {
  color: #362c24;
}

#linkButton {
  color: #6f5b4b;
  padding: 11px; 
  margin-bottom: auto;
  background: transparent;
  border-color: transparent;
}

#inlineLinkButton {
  color: #6f5b4b;
  margin-bottom: auto;
  background: transparent;
  border-color: transparent;
}

#searchButton:hover {
  background-color: white;
}

#genreBubble {
  border: solid 1px #362c24;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  color: #362c24;
}

#bubbleContainer {
  display: inline-flex;
  padding: 8px;
}

#genreBubblesContainer {
  text-align: center;
}

#genreBubbleText {
  text-align: center;
  margin: 0;
  color: #362c24;
}

#headerLink:hover {
  color: #362c24;
}

#headerLink {
  color: #362c24;
}

#searchField {
  color:#362c24;
  border-color: #362c24;
}

/* .signUpPhoto {
  margin-top: 10px;
} */

#topPicksHeader {
  padding-top: 20px;
  /* padding-bottom: 3px; */
}

#topPicksContainer {
  margin-top: 30px;
}

#topPicksShelfImg {
  width: 260px;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

#homepageGenreBubbles {
  background-color: #e9e5dc;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
}

#bookCardBody {
  font-size: 11px;
  text-align: center;
}

#bookCardTitle {
  font-size: 13px;
}

#homepageBookImg {
  height: 135px;
  width: 90px;
  object-fit: cover;
  margin: auto;
}

#bookCardGroup {
  margin-top: 8px;
}

.checked {
  color: rgb(255, 204, 109);
}

#homepageBookListItem {
  border-color: transparent;
}

#navbar {
  padding: 18px;
  background-color: #e9e5dc;
}

#headerTitle {
  color: #6f5b4b;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 45px;
}

#popGenresHeader {
  padding-top: 20px;
}

div#recentReviewsContainerNonUser {
  padding: 20px 90px 20px 40px;
  border: solid 2px #362c243b;
  border-radius: 10px;
  background-color: #e9e5dc3a;
  max-width: 600px;
  max-height: 700px;
  overflow:hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 30%);
}

div#recentReviewsContainerUser {
  padding: 20px 90px 20px 40px;
  border: solid 2px #362c243b;
  border-radius: 10px;
  background-color: #e9e5dc3a;
  max-width: 600px;
  max-height: 700px;
  overflow: scroll;
  margin-bottom: 90px;
}

#loginToSeeReviews {
  font-size: 19px;
  z-index: 10;
  margin-bottom: 90px;
  margin-top: -70px;
  color: #362c24;
  border: solid 1px #362c243b;
  border-radius: 10px;
  background-color: #e9e5dc6b;
  padding: 4px 10px 4px 10px;
}

#loginContainer {
  margin: auto;
  text-align: center;
  margin-top: 38px;
  padding-bottom: 80px;
  padding-top: 21px;
  background-image: url(https://i.imgur.com/lua902Y.png);
  background-repeat:no-repeat;
  background-position: bottom 105px right 20px;
  background-size: 30%;
  background-color: #e9e5dc6b;
  max-width: 600px;
  max-height: 415px;
  border-radius: 10px;
  border: solid 1px #362c243b;
}

#searchButton {
  color: #6f5b4b;
  border-color: #6f5b4b;
}

#welcomeContainer {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 50px;
  background-image: url(https://i.imgur.com/lua902Y.png);
  background-repeat:no-repeat;
  background-position: bottom 105px right 20px;
  background-size: 30%;
  scale: 0.90;
  background-color: #e9e5dc6b;
  max-width: 600px;
  min-height: 490px;
  border-radius: 10px;
  border: solid 1px #362c243b;
}

#loggedInWelcomeContainer {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 50px;
  scale: 0.90;
  background-color: #e9e5dc6b;
  max-width: 600px;
  min-height: 490px;
  border-radius: 10px;
  border: solid 1px #362c243b;
}

#loggedInWelcomeButtons {
  padding: 5px 10px 5px 10px;
  border: solid 2px #6f5b4b;
  background-color: rgba(255, 255, 255, 0.64);
  margin-bottom: 30px;
}

.signUpFields {
  padding: 13px 140px 13px 9px;
  margin-top: 10px;
  border: solid 1px #6f5b4b;
  border-radius: 10px;
}

.signUpBio {
  /* padding: 13px 140px 60px 9px; */
  padding: 9px;
  width: 309px;
  height: 80px;
  margin-top: 10px;
  border: solid 1px #6f5b4b;;
  border-radius: 10px;
}

#submitSignUp {
  border: solid 1px #6f5b4b;
  background-color: #e9e5dc3a;
  margin-top: 20px;
  display: fixed;
  text-align: center;
  border-radius: 5px;
}

#profileCardContainer {
  text-align: center;
  height: 700px;
  width: 420px;
  background-color: #e9e5dc3a;
  border: solid 1px #362c243b;
  padding-top: 40px;
  border-radius: 5px;
}

#profileCard {
  margin-top: 64;
  margin: auto;
  background-color: transparent;
  border-color: transparent;
}

#profileButtonGroup {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#profileButton {
  width: 120px;
  height: 27px;
  text-align: center;
  margin: 5px;
  border: transparent;
  background-color: #e9e5dc3a;
  color: #362c24;
}

#profileBooksTitle {
  margin-top: 14px;
  max-width: 190px;
  color: #362c24;
}

#profileBook {
  border-color: transparent;
  display: inline-block;
  margin: 0px 10px 24px 10px;
  width: 190px;
}

#profileBookImg {
  height: 135px;
  width: 90px;
  object-fit: cover;
  margin: auto;
  box-shadow: 0 1px 1px 0 #81665162;
}

#profileBooksHeader {
  color: #362c24;
  text-align: center;
  margin-bottom: 40px;
  background-color: #e9e5dc3a;
  width: 102px;
  margin-left: auto;
  margin-right: auto;
}

#profileBooksContainer {
  margin-top: 64px;
  margin-bottom: 400px;
  height: 100px;
  padding: 0px 50px 0px 0px;
  vertical-align: 'top';
  text-align: left;
  width: 472px;
}

#reviewsContainer {
  padding: 0px 50px 0px 0px;
  margin-top: 80px;
  max-width: 600px;
  max-height: 900px;
  overflow: scroll;

}

#profileReviewsHeader {
  color: #362c24;
  text-align: center;
  margin-bottom: 40px;
  background-color: #e9e5dc3a;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
}

#actionButton {
  background-color: #e9e5dc69;
  border-color: transparent;
  border-radius: 5px;
  color: #362c24;
}

#searchEnter {
  font-weight: 400;
  padding: 2px 7px 2px 7px;
  border: solid 1px transparent;
  border-radius: 5px;
  margin-left: 10px;
}

#searchBox {
  background: transparent;
  border: none;
  border-bottom: 1px solid #362c24;
  width: 400px;
}

input:focus {
  outline: transparent;
}

select:focus {
  outline: transparent;
}

textarea:focus {
  outline: transparent;
}

#signUpInputs {
  background: transparent;
  border: none;
  border-bottom: 1px solid #362c24;
  width: 350px;
  margin-bottom: 40px;
}

#editProfileHeader {
  display: inline-block;
  color: #362c24;
  text-align: center;
  margin-bottom: 40px;
  background-color: #e9e5dc3a;
}

